body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: hsl(47, 88%, 63%);
}

.container {
    background-color: white;
    display: flex;
    align-items: ;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 380px;
    height: 518px;
    border-radius: 20px;
    border: 1px solid black;
}


.learn {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    width: 85px;
    justify-content: center;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bolder;
}

.public, .text, .learn {
    margin-left:20px; 
    
}

.public {
    font-size: 9px;
    letter-spacing: 0.65px;

}

.topic {
    height: 30px;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 20px;
}

.text{
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(119, 124, 124);
    margin-left: 20px;
    margin-top: 20px;
}

.last {
    display: flex;
    margin-left: 20px;
    font-size: 11px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.8px;
}

.illustrator {
    display: flex;
    justify-content: center;
}

.illustrator img {
    border-radius: 10px;
}

h1{
    font-size: small;
    font-weight: bolder;
}

h3 {
    margin-left: 10px;
}